.Contents
  .Contents__test-group
    test-group    
  .Contents__test
    test
  .Contents__test-user1
    test-user
  .Contents__day1
    2019/06/01(Sat) 00:00:00
  .Contents__hello
    こんにちは！
  .Contents__test-user2
    test-user
  .Contents__day2
    2019/06/01(Sat) 00:00:00
  .Contents__good-bye
    さようなら！
  .Contents__Edit
    =link_to "http://localhost:3000/" , class: "Contents__Edit__link" do
      Edit


.Left-contents
  .Left-contents__list
    .Left-contents__list__test-user
      test-user
      .Left-contents__list__test-user__icon
        = link_to "http://localhost:3000/", class: "Left-contents__list__test-user__icon-edit" do
          = fa_icon "edit"
        = link_to "http://localhost:3000/", class: "Left-contents__list__test-user__icon-cog" do
          = fa_icon "cog"
    .Left-contents__list__test-group
      test-group
    .Left-contents__list__good-bye
      さようなら
    .Left-contents__list__sample-group
      sample-group
    .Left-contents__list__hello
      hello!
    .Left-contents__list__example
      example
    .Left-contents__list__message
      まだメッセージがありません

.Form
  %input.Form__input-box{ placeholder: "type a message", type: "text" }
    %label.Form__input-box__image-label{ form: "image" }
      %i.fa.fa-picture-o
      %input.Form__input-box__image-label-image{ name: "image", type: "file" }
        .Form__new-message__submit-btn
          Send